<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>JSON POST Form</title>
</head>
<body>
	<form id="myForm" action="/">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" value="apple">
		<label for="price">Price:</label>
		<input type="number" id="price" name="price" value="200">
		<label for="Comment">Comment:</label>
		<input type="text" id="comment" name="comment">
		<input type="submit">
	</form>
	<br><br>
	{{.table}}
	<br><br>
    <form action="/logout" method="GET">
        <input type="submit" value="Redirect">
    </form>
	<script>
		document.getElementById("myForm").addEventListener("submit", function(event) {
			event.preventDefault();
			const form = event.target;
			const data = {
				name: form.name.value,
				price: parseInt(form.price.value, 10),
				comment: form.comment.value,
			};
			fetch(form.action, {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data)
			})
			.then(response => {
				console.log(response);
				window.location.reload(); // ページをリロードする
			})
			.catch(error => {
				console.error(error);
			});
		});
	</script>
</body>
</html>
